.card-side {
  position: fixed; 
  left: 0; 
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
  align-items: center;
  justify-content: center;  
}

.card-side-content {
  width: 500px;
  background-color:white;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 3px solid black;
}

.make-card {
  position: fixed; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
}

/* use this to make the card flip on click https://www.w3schools.com/howto/howto_css_flip_card.asp */
.card-holder{
  grid-column-start: 2;
  grid-row-start: 3;
}

.nav-holder{
  grid-column-start: 2;
  grid-row-start: 4;
}

.widgets{
  grid-column-start: 3;
  grid-row-start: 3;
}

.timer-display{
  color: black;
  font-family: 'Lucida Sans';
  font-size: 50px;
  border-style: solid;
  margin: 5px;
}