.dropdown-container {
  text-align: left;
  position: relative;
  display: inline-block;
  background-color:aqua;
}

.dropdown-menu{                                                
  display: none;
  border: 100px;
  border-top: #fff;
  background-color:aqua;  
}

.dropdown-container:hover .dropdown-menu{
  display: block;
}

.nav-button{
  background-color:aqua;
}

.nav-bar{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

