.dropdown-container {
  text-align: left;
  position: relative;
  display: inline-block;
  background-color:aqua;
}

.dropdown-menu{                                                
  display: none;
  position: absolute;
  background-color:aqua;  
}

.dropdown-menu-box{
  border-style: solid;
  border: 100px;
  border-top: #fff;
}

.dropdown-menu-box:hover{
  background-color:rgb(0, 157, 255);
}

.dropdown-container:hover .dropdown-menu{
  display: block;
}

.nav-button{
  background-color:aqua;
}

.nav-bar{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
background-color: aqua;
align-items: center;
}

